<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/" method="post">
      <table>
        <tr>
          <td>Full Name:</td>
          <td><input type="text" name="name"></td>
        </tr>

        <tr>
          <td>Email:</td>
          <td><input type="text" name="email"></td>
        </tr>

        <tr>
          <td>Etype:</td>
          <td><input type="text" name="etype"></td>
        </tr>
        <tr>
          <td><input type="submit" name="submit" value="Insert"></td>
        </tr>
      </table>
    </form>

    <table border="1">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Etype</th>
      </tr>
      <% records.forEach(function(row){ %>
        <tr>
          <td><%= row.name %></td>
          <td><%= row.email %></td>
          <td><%= row.etype %></td>
        </tr>
      <% }); %>
    </table>

  <br><br>
  <form action="/search/" method="post">
    <table>
      <tr>
        <td>ByName</td>
        <td><input type="text" name="byName"></td>
      </tr>
      <tr>
        <td>ByEmail</td>
        <td><input type="text" name="byEmail"></td>
      </tr>
      <tr>
        <td><input type="submit" name="submit" value="Filter"></td>
      </tr>
    </table>
  </form>
  </body>
</html>
